[File]
ENABLED = {{ getenv "MS_STORAGE_FILE_ENABLED" "False"}}
path = report.json
gzip = False
files-per-line = 1

[ElasticSearchStorage]
ENABLED = {{ getenv "MS_STORAGE_ES_ENABLED" "True"}}
host = {{ getenv "MS_STORAGE_ES_HOST" "mselastic"}}
port = {{ getenv "MS_STORAGE_ES_PORT" "9200"}}
index = multiscanner_reports
doc_type = report
